<div class="footer-container" style="padding-top: 10px;">
    <div class="footer">
        Created by Ryan Kato
        <!-- HTML/CSS/Accessibility Validation Links --> 
        <a href="https://jigsaw.w3.org/css-validator/check/referer" style="text-decoration: none; padding-left: 10px; padding-right: 10px;">
            <img style="border:0; width:50px; height:20px"
                    src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
                    alt="Valid CSS!">
        </a>
        <a href="https://validator.w3.org/check?uri=referer" style="text-decoration: none;">
            <img style="border: 0; width:50px; height:20px;" 
                src="https://www.w3.org/Icons/valid-html401.png"
                alt="Valid HTML!">
        </a><br>
        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
</div>