.footer {
	margin: 10px;
	margin-bottom: 0;
	text-align: center; 
	padding: 15px; 
	border-radius: 5px;
	background-color: rgba(70,130,180,0.8);
}

.footer-container {
	background-color: rgba(0, 38, 87, 0.75);
    display: block;
}