.navbar {
	display: table;
	position: sticky;
	top: 0;
	width: 100%;
	height: 61.6px;
	z-index: 9; 
	background-color: black; 
	border-bottom-left-radius: 5px; 
	border-bottom-right-radius: 5px; 
}

.navbar a:hover {
	background-color: silver;
	color: black; 
}

.navbar a:focus {
	color: lightsalmon;
	background-color: black;
}

.navbar .button { 
	text-align: center;
	background-color: black; 
	font-weight: bolder; 
	z-index: 3;
	float: left;
	display: block;	
	color: rgba(241,241,241,1);
	padding: 16px 16px 26px 16px;		
	text-decoration: none;
}

.navbar-expanded {
	width: 100%;
	text-align: left;
}

#toggleNavButton {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 20px;
	margin-top: 15px;
	padding: 5px;
	border-radius: 5px;
}

#toggleNavButton:hover {
	color: lightsalmon;
	background-color: black;
}

#navIcon {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 30px;
	margin-top: 20px;
}

#navTitle {
	display: none;
	margin-left: 60px;
	letter-spacing: 3px;
}

.navbar-expanded a {
	display: block;
	float: left;
	clear: left;
	color: rgba(200,200,200,1);
	margin-top: 5px;
	margin-bottom: 16px;
	margin-left: 60px;
	text-decoration: none;
}

.navbar-expanded a:hover {
	color: lightsalmon;
	background-color: black;
}

.show {
	display: block;
}

#homeButton {
	margin-left: 5%;
}

#facebookButton {
	margin-right: 5%;
}

.buttonImage {
	float: right; 
	display: block;   
	padding: 10px 10px;
}

.gradient {
	height: 5px; 
	width: 100%; 
	position: absolute;
	bottom: 0;
	border-bottom: 2px solid black;
	background:	royalblue 8%;
}

@media screen and (max-width: 430px) {
	#facebookButton {
		display: none;
	}
	#homeButton {
		margin-left: 0;
	}
}

@media screen and (max-width: 650px) {
	.navbar-buttons {
		display: none;
	}
	#toggleNavButton {
		display: inline-block;
	}
	#navIcon {
		display: inline-block;
	}
	#navTitle {
		display: inline-block;
	}
}