<div id="navbar" class="navbar">
    <img id="navIcon" src="assets/landscape.svg" alt="landscape">
    <a id="toggleNavButton" target="_blank" (click)="toggleNavbar()">
        <img src="assets/menu.svg" alt="menu">
    </a>
    <h3 id="navTitle">Ryan Kato</h3>
    <div class="navbar-buttons">
        <a id="homeButton" class="button" routerLink="/home" routerLinkActive="active">Home</a>
        <a id="resumeButton" class="button" routerLink="/resume" routerLinkActive="active">Resume</a>
        <a id="contactButton" class="button" routerLink="/contact" routerLinkActive="active">Contact</a>
        <a id="roboticsButton" class="button" routerLink="/robotics" routerLinkActive="active">Robot GUI</a>
        <a id="facebookButton" class="buttonImage" href="https://www.facebook.com/rkato1131" target="_blank"> <img src="assets/fb_icon.png" width=33 height=33 alt="Facebook"> </a>
        <a id="linkedinButton" class="buttonImage" href="https://www.linkedin.com/in/ryan-kato-8b5702b9/" target="_blank"> <img src="assets/linkedin_icon.png" width=33 height=33 alt="LinkedIn"> </a> 
        <br>
    </div>
    <div class="navbar-expanded" *ngIf="navbarToggle" [@slideAnimation]>
        <a id="home_button_expanded" class="button_expanded" routerLink="/home" routerLinkActive="active" (click)="toggleNavbar()">Home</a>
        <a id="resumeButton_expanded" class="button_expanded" routerLink="/resume" routerLinkActive="active" (click)="toggleNavbar()">Resume</a>
        <a id="contact_button_expanded" class="button_expanded" routerLink="/contact" routerLinkActive="active" (click)="toggleNavbar()">Contact</a>
        <a id="robotics_button_expanded" class="button_expanded" routerLink="/robotics" routerLinkActive="active" (click)="toggleNavbar()">Robot GUI</a>
        <a id="facebook_button_expanded" class="buttonImage_expanded" href="https://www.facebook.com/rkato1131" target="_blank"> <img src="assets/fb_icon.png" width=33 height=33 alt="Facebook"> </a>
        <a id="linkedin_button_expanded" class="buttonImage_expanded" href="https://www.linkedin.com/in/ryan-kato-8b5702b9/" target="_blank"> <img src="assets/linkedin_icon.png" width=33 height=33 alt="LinkedIn"> </a>
    </div>
    <div class="gradient"></div> 
</div>