<div id="navbar" class="navbar">
    <a id="home_button" class="button" routerLink="/home" routerLinkActive="active">Home</a>
    <a id="contact_button" class="button" routerLink="/contact" routerLinkActive="active">Contact</a>
    <a id="robotics_button" class="button" routerLink="/robotics" routerLinkActive="active">Robot GUI</a>
    <a id="facebook_button" class="button-image" href="https://www.facebook.com/rkato1131" target="_blank"> <img src="assets/res/fb_icon.png" width=33 height=33 alt="Facebook"> </a>
    <a id="linkedin_button" class="button-image" href="https://www.linkedin.com/in/ryan-kato-8b5702b9/" target="_blank"> <img src="assets/res/linkedin_icon.png" width=33 height=33 alt="LinkedIn"> </a> 
    <br><div class="gradient2"></div> 
</div>