<div class="background-container" style="text-align: center;">
    <!-- HEADER --> 
    <header>
        <div style="font-size: 42px; text-align: center; padding-top: 10px; padding-bottom: 15px;">
            <span style="font-weight:bolder;">Contact Me</span>
        </div>
    </header>

    <div id="robot-project" class="content_container" style="color: black; background-color: rgba(206,217,237,1); margin-top: 10px; line-height: 14pt;">
        <div style="font-size: 20px;">
            <br>
            Phone number: <b>(562) 221-8800</b>
            <br><br>
            Email address: <b>rmkato@uci.edu</b>
        </div>
        <br><br>
        <div style="padding-left: 20%; padding-right: 20%;">
        Feel free to contact me using my phone number or email listed above or fill out the google form below and I will get back to you ASAP. 
        </div>
        <br>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScHYJxevpSjReneH2CI15WlfHXyqZilaUJRISo2RpTqPxkSjA/viewform?embedded=true" width="60%" height="809" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

</div>