#h-full {
	opacity: 0.6;
}

#h-shortened {
	opacity: 0.6;
	display: none;
}

.links {
	text-align: center; 
	width: 280px;
	margin: auto;	
	padding-top: 20px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 10;
}

.links span {
	color: antiquewhite;
	text-decoration: none; 
}

.links span:hover {
	color: lightsalmon;
}

.profilePicture {
	width: 100%; 
	height: 100%; 
	border-radius: 20px; 
	max-width: 300px;
}

.image-carousel {
	width: 75%;
	margin: auto;
	margin-bottom: 20px;
}

.row {
	width: 100%;
}

.row:after {
	content: "";
	display: table; 
	clear: both;
}

.row .col-4 {
	box-sizing: border-box;
	width: 24%;
	float: left;
	padding-left: 2%;
	padding-right: 2%;
}

.row .column {
	width: 50%;
	float: left; 
}

.row .column .info-list {
	text-align: left; 
	padding-left: 35%;
	list-style-type: circle;
}

.col1 {
	float: left;
	width: 30%;
	padding-top: 40px; 
}

.col2 {
	text-align: center; 
	width: 60%; 
	float: left; 
	padding-left: 55px;
	padding-right: 30px;
}

.project-description {
	text-align: justify; 
	width: 75%;
	margin: auto; 
	line-height: 16pt; 
	margin-bottom: 50px;
}

#projects img {
	width: 35%;
	height:35%;
	border: 6px solid black;
	margin-bottom: 30px;
}

#header-br {
	display: none;
}

#education {
	line-height: normal;
	font-size: 1rem;
}

@media screen and (max-width: 980px) {
	.col1 {
		width: 100%;
		padding-top: 0;
	}
	
	.col2 {
		width: 100%;
		padding-left: 0; 
	}
	
	.profilePicture {
		float: none;
		display: block;
		margin: auto;
		width: 70%; 
	}
	
	#projects img {
		width: 60%;
		height: 60%;
	}
	
	#textbox1 {
		width: 100%;
	}
	
	#textbox2 {
		width: 100%;
	}
	
	.row .col-third {
		width: 100%;
	}
	
	.row .col-two-thirds {
		width: 100%;
		padding-left: 0;
	}
	
	.content_container h3 {
		margin-top: 20px; 
		margin-bottom: 10px; 
	}
}

@media screen and (max-width: 830px) {
	.row .column {
		width: 100%;
	}
	.hyphen {
		display: none;
	}
	.row .col-4 {
		width: 50%;
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 650px) {
	.links {
		z-index: 0;
	}
}

@media screen and (max-width: 550px) {
	#h-full {
		display: none;
	}
	#h-shortened {
		display: inline; 
	}
}

@media screen and (max-width: 420px) {
	#header-br {
		display: inline;
	}
	#h-shortened {
		display: none;
	}
	.image-carousel {
		width: 90%;
	}
	.project-description {
		width: 90%;
	}
}