<div class="background-container" style="text-align: center;">
    <!-- HEADER --> 
    <div>
        <div style="font-size: 42px; text-align: center; padding-top: 10px; padding-bottom: 15px;">
            <span style="font-weight:bolder;">Ryan Kato</span>
            <br id="header-br">
            <span id="h-full">&nbsp;|&nbsp;&nbsp;Web Developer</span>
            <span id="h-shortened">&nbsp;Web Dev</span>
        </div>
    </div>
    <div class="links">
        <span style="cursor: pointer;" (click)="scrollIntoView('about')"> About </span>&nbsp;&#8226;&nbsp;
        <span style="cursor: pointer;" (click)="scrollIntoView('education')"> Education </span>&nbsp;&#8226;&nbsp;
        <span style="cursor: pointer;" (click)="scrollIntoView('projects')"> Projects </span>
    </div> 

    <!-- ABOUT Section --> 
    <div id="about" class="content_container hidden" style="margin-top: 10px;">
        <h2>About Me</h2>
        <hr class="line-break"> 
        <div class="col1">
            <img class="img1" src="https://ryankato.com/assets/profilepic.jpg" alt="picture" style="width: 100%; height: 100%; border-radius: 20px; max-width: 300px;">
        </div> 
        <div class="col2">
            <h3>.hello_world &emsp; &#123;</h3>
            <div>
                My name is Ryan and I am a Computer Science major with a specialization in Information 
                at the University of California, Irvine. I graduated in June 2020.<br>&bull;<br> 
                My primary CS interests are full-stack web design and software engineering,
                but I love all types of coding and expanding my horizons by learning new 
                languages. Currently my primary coding languages are C/C++, Java, Python, 
                and HTML/CSS/Javascript. I have primarily been using the Angular framework and 
                Node.js for web development.<br>&bull;<br>
                When I'm not coding I love spending my time outdoors and am an avid surfer, 
                snowboarder and fisherman. My hobbies and passion for food are always taking me 
                to new places, including Colorado, Hawaii, Costa Rica, Mexico, and Japan.
                <div style="text-align: left;"><h3> &#125; </h3></div>
            </div>
        </div> 
    </div>

    <!-- EDUCATION Section --> 
    <div id="education" class="content_container hidden">
        <h2>Education</h2>
        <hr class="line-break">
        
        <div class="row">
            <div class="col-4"> 
                <img height=20% width=20% src="assets/book.svg" alt="book">
                <h3>Degree</h3>
                <div>B.S. Degree in Computer Science from UC Irvine</div>
            </div>
            <div class="col-4"> 
                <img height=20% width=20% src="assets/cap.svg" alt="cap">
                <h3>Graduation</h3>
                <div>Graduated in June 2020 with a 3.27 School GPA</div>
            </div>
            <div class="col-4"> 
                <img height=20% width=20% src="assets/pencil.svg" alt="pencil">
                <h3>Languages</h3>
                <div>Python, Java, C/C++, HTML5, CSS, JavaScript/TypeScript</div>
            </div>
            <div class="col-4"> 
                <img height=20% width=20% src="assets/skill.svg" alt="skill">
                <h3>Skills</h3>
                <div>MEAN Stack Development (MongoDB, Express, Angular, Node.js), Ionic, Git</div>
            </div>
        </div>
    </div>

    <!-- PROJECTS Section --> 
    <div id="projects" class="content_container hidden">
        <h2>Projects</h2>
        <hr class="line-break">
        
        <h3 style="padding: 20px;">Mobile Notary Website</h3>
        <div class="image-carousel">
            <ng-image-slider [images]="notaryWebsiteProjectImages" [imageSize]="{width: '325px', height: '300px', space: 12}" [animationSpeed]="0.3" #nav></ng-image-slider>
        </div>
        <div class="project-description" style="margin-bottom: 100px;">
            Using Angular and Javascript I created an interactive webpage for a recent UC Irvine Business major graduate to
            advertise her notary services online. The website has successfully stimulated business opportunities for the 
            client and allowed people to utilize her services. 
            <br><br>
            <a href="http://otsmobilenotary.com/" target="_blank">otsmobilenotary.com</a>
        </div>
        <hr> 

        <h3 style="padding: 20px;">Snapchat Fitness Stickers App</h3>
        <div class="image-carousel">
            <ng-image-slider [images]="dataStickersProjectImages" [imageSize]="{width: '265px', height: '450px', space: 12}" [animationSpeed]="0.3" #nav></ng-image-slider>
        </div>
        <div class="project-description">
            I worked with a team of undergraduate CS students under UC Irvine Informatics professor Daniel Epstein on a 
            cross-platform application that allows users to create and customize data-driven stickers that can be exported 
            to Snapchat in order to provide more context for stories and snaps. Data can be drawn from the user's Spotify 
            and Google Fit/Apple Health applications. 
            <br><br>
            <a href="https://github.com/depstein/sticker-app" target="_blank">GitHub</a>
        </div>
        <hr>
        
        <h3 style="padding: 20px;">Chess Game</h3>
        <img src="assets/chessgame.png" alt="chessgame"> 
        <div class="project-description">
            I wrote a fully-functional chess game in Java using a JFrame GUI. In the future my plan is to further the 
            develop the game and implement a minimax algorithm to create an intelligent chess AI to play against. 
            <br><br>
            <a href="https://github.com/rmkato/Chess-Game" target="_blank">GitHub</a>
        </div>
    </div>

</div>